.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

main {
  flex: 1;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.App-footer {
  background-color: #282c34;
  padding: 15px;
  color: white;
  text-align: center;
  margin-top: 40px;
}
